body {
  margin: 0;
  text-align: center;
  font-family: 'Andika New Basic', sans-serif;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 5.5rem;
  color: #66BFBF;
  line-height: 2;
}
h2 {
font-family: 'Open Sans', sans-serif;
font-size: 2rem;
color: #66BFBF;
font-weight: normal;
}
h3{
  font-family: 'Open Sans', sans-serif;
  color: #11999E;
}
a{
  color:#11999E;
}
a:hover {
  color: #a6a9b6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #d0e8f2;
  height: 1px;
  width: 10%;
  margin: 80px auto;
}
p {
  line-height: 2;
}

.first-description {
  font-weight: normal;
}

.top-container {

background-color: #c6ebc9;
position: relative;
padding-top: 100px;
}
.top-cloud {

  position: absolute;
  right: 150px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 150px;
}
.profile {
  padding-top: 50px;
  margin: auto;
}

.profile-photo {
  border-color: #e9c496;
  border-radius: 100%;
  height: 200px;
  width: auto;

}
.profile {
  text-align: center;
  width: 60%;
}
.greeting {
  font-weight: bolder;
}
.skill-1-photo {

  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-2-photo {

  width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 80px auto;
  text-align: left;

}
.contact-me {
  width: 60%;
  margin: 50px auto 80px;
}

.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.contact-message {
  width: 70%;
  margin: auto;
  padding-bottom: 80px;
}

.bottom-container {
background-color: #d0e8f2;
position: absolute;
padding-top: 30px;
width: 100%;
}
.footer-link {

  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}
.copyright {
  color: #a6a9b6;
  font-size:  0.75rem;
}
.Web {
text-decoration: line-through;
}
